@import "tailwindcss";


body {
  font-family: Arial, Helvetica, sans-serif;
  
}

.interface{
  max-width: 1080px;
  margin: 0 auto;
  width: 96%;
}

.interface2{
  max-width: 1480px;
  margin: 0 auto;
  width: 98%;
}

.btn-primary {
  cursor:pointer;
}

.btn-primary svg{
  transition: transform .5s, height .3s, width .3s ;
  fill: white;
  
}

.btn-primary:hover svg{
height: 50px;
width: 50px;
transform: rotate(360deg);

}

.imagem_nav{
  object-fit: cover;
  height: 580px;
  overflow: hidden;
  clip-path: inset(0px 0px 470px 0px);
  position: absolute;
  transition: all .4s;
  width: 100%;
  z-index: -1;
}

.star {
  width: 40px;
  height: 40px;
  background: gold;
  clip-path: polygon(
    50% 0%, 61% 35%, 98% 35%, 68% 57%,
    79% 91%, 50% 70%, 21% 91%, 32% 57%,
    2% 35%, 39% 35%
  );
  
 
}




@media(max-width: 790px){

  .mobille{
    display: none;
  }
}